.code-review {
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
  font-size: 1rem;
}

.code-review pre {
  margin: calc(var(--space) / 2);
  counter-reset: line;
}

.code-review pre span {
  display: block;
  line-height: 1.25rem;
  user-select: text;
}

.code-review pre span:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 0 0.5em;
  margin-right: 0.5em;
  width: 40px;
  text-align: right;
  color: var(--text-primary-transparent);
}
